%html.beforehome
  %body.beforehome  
    %div.container
      %div.card.card-container
        %h2.beforehome-title Welcome to the VA ER Scheduling App
        %p#notice= notice
        %p#alert= alert
        =form_tag(sessions_path, {class: 'signin'}) do
          %span.reauth-email
          = text_field_tag :username, params[:username], class: 'form-control', placeholder: 'Username'
          = password_field_tag :password, nil, class: 'form-control', placeholder: 'Password'
          .field
          = check_box_tag :remember_me, 1, params[:remember_me]
          = label_tag :remember_me
          %button.btn-login.btn-lg.btn-pprimary.btn-block.btn-signin{:type=>"submit"} Log In
          %br
          = link_to 'Create An Account', new_user_path, :id => "signup_link"
          %br
          = link_to "Forgot Your Username And Password?", new_password_reset_path, :id => "forgot_link"