%h1 Edit Existing Shift

= form_tag shift_path(@shift), :method => :put do

  = label :shift, :start, 'Start'
  = text_field :shift, 'start'

  = label :shift, :end, 'End'
  = text_field :shift, 'end'

  = submit_tag 'Update Shift'
  = link_to 'Back to all shifts', shifts_path
