%h1 this is index.html.haml

%h2 these are all the shifts currently in the shifts table

%table#shifts
	%thead
		%tr
			%th starttime
			%th endtime
			%th available people
			%th assigned person
			%th open/closed
		%tbody
			- @shifts.each do |shift|
				%tr
					%td= shift.shiftstart
					%td= shift.shiftend
					%td= shift.users
					%td= shift.owner
					%td= shift.open	