%h2 shift details

%ul#details
	%li
		Start Time: 
		= @shift.shiftstart
	%li
		End Time:
		= @shift.shiftend
	%li
		Shift Length:
		= (@shift.shiftend - @shift.shiftstart) / 3600
	%li
		Doctors Available:
		= @shift.users
	%li
		Doctors Possibly Available:
		= @shift.possible_users
	%li
		Shift Assigned To:
		= @shift.owner
	%li
		ID:
		= @shift.id

= link_to 'Back to all shifts', shifts_path

%h2 params
= params.inspect