=render :partial => "shared/navbar", :user => @user
			
%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li
				%a= link_to 'Home', home_path
			-if @user.usertype != 'Administrative Assistant'
				%li
					%a= link_to 'Set Availability', availabilities_path
			- if @user.usertype == 'Administrator' || @user.usertype == 'Administrative Assistant'
				%li 
					%a= link_to 'Shift Scheduler', shifts_path
				%li
					%a= link_to 'Set FTE Multiplier', multiply_path

	%div#page-content-wrapper
		%div.container-fluid
			%p#notice= notice
			%h1 Edit User Information

			= form_tag setting_path, :method => :put do

				= label :user, :first_name, 'First Name'
				%br
				= text_field :user, :first_name
				%br
				= label :user, :last_name, 'Last Name'
				%br
				= text_field :user, :last_name
				%br
				= label :user, :email, 'Email'
				%br
				= text_field :user, :email
				%br
				= label :user, :password, 'New Password'
				%br
				= password_field :user, :password
				%br
				= label :user, :password_confirmation, 'New Password Confirmation'
				%br
				= password_field :user, :password_confirmation
				%br
				%br
				= submit_tag 'Update User Information'
		%br
		= link_to 'Back to User Information', shifts_path