=render :partial => "shared/navbar", :user => @user
			
%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li
				%a= link_to 'Home', home_path
			-if @user.usertype != 'Administrative Assistant'
				%li
					%a= link_to 'Set Availability', availabilities_path
			- if @user.usertype == 'Administrator' || @user.usertype == 'Administrative Assistant'
				%li 
					%a= link_to 'Shift Scheduler', shifts_path
				%li
					%a= link_to 'Set FTE Multiplier', multiply_path

	=render :partial => "shared/sidebar-showhide"

	%div#page-content-wrapper
		%div.container-fluid
			%p#notice= notice
			%h1 User Details

			%ul#details
				%li
					User Name: 
					= "#{@user.first_name} #{@user.last_name}"
				%li
					Email:
					= @user.email

				%li
					Clinical FTE:
					= @user.fte

				%li
					Verified:
					= @user.verified
			= link_to 'Edit', edit_setting_path(@user)