%nav.navbar.navbar-default
  %div.container-fluid
    %div.navbar-brand
      %h1 VA hospital logo
    %div.navbar-center
      = hidden_field_tag @user = User.find_by_id(session[:user_id])
      %h2.title= "Hello, #{@user.first_name} #{@user.last_name}"
      %p= "You are logged in as #{@user.usertype} with FTE of #{@user.fte}"
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.button.btn.btn-default.btn-lg.btn-link{title: "Account Settings", type: "button"}
            %span.glyphicon.glyphicon-cog
        %li
          %a.button.btn.btn-default.btn-lg.btn-link{title: "Log Out", type: "button", href: "/logout"}
            %span.glyphicon.glyphicon-off
      
%div#wrapper
  %div#sidebar-wrapper
    %ul.sidebar-nav
      %li
        %a= link_to 'Home', home_path
      %li
        %a= link_to 'Set Availability', availabilities_path
      - if @user.usertype == 'Administrator'
        %li 
          %a= link_to 'Shift Scheduler', shifts_path
        %li
          %a= link_to 'Set FTE Multiplier', multiply_path

  %div#page-content-wrapper
    %div.container-fluid 
      %h1 Edit Existing Shift

      %h2 Shift Details

      %ul#details
        %li
          Start Time: 
          = @shift.shiftstart
        %li
          End Time:
          = @shift.shiftend
          
        %li
          Available People:
          - if !@shift.users.nil?
            = @shift.users.where(id: @shift.availabilities.select(:user_id).where(shift_id: @shift.id, availability: 2)).pluck(:last_name)

        %li
          Possible Users:
          - if !@shift.possible_users.nil?
            = @shift.users.where(id: @shift.availabilities.select(:user_id).where(shift_id: @shift.id, availability: 1)).pluck(:last_name)
        
        %li
          Shift Assigned To:
          =@shift.owner
      = button_to 'Delete', shift_path(@shift), :method => :delete, :confirm => 'Are you sure?'
      %br

      = form_tag shift_path(@shift), :method => :put do

        = label :shift, :shiftstart, 'Start'
        = datetime_select :shift, :shiftstart
        %br
        = label :shift, :shiftend, 'End'
        = datetime_select :shift, :shiftend
        %br

        - if @shift.users != [] || @shift.possible_users != [] 
          = label :shift, :owner, 'Assign Person'
          - @temp1 = @shift.users.where(id: @shift.availabilities.select(:user_id).where(shift_id: @shift.id, availability: 2))
          - @temp2 = @shift.users.where(id: @shift.availabilities.select(:user_id).where(shift_id: @shift.id, availability: 1))
          - @temp3 = @temp1 | @temp2
          = select("shift", "owner", @temp3.map  {|num| [User.find_by_id(num).first_name]}, {include_blank: true})
        - else
          No Available Doctors to Assign for This Shift
          


        
        %br
        %br
        = submit_tag 'Update Shift'
        %br
        %br
        = link_to 'Back to all shifts', shifts_path
