%h1 Edit Existing Shift

= form_tag shift_path(@shift), :method => :put do

  = label :shift, :shiftstart, 'Start'
  = datetime_select :shift, :shiftstart

  = label :shift, :shiftend, 'End'
  = datetime_select :shift, :shiftend
  %br

  - if @shift.users != " " || @shift.possible_users != " " 
    = label :shift, :owner, 'Assign Person'
    = select("shift", "owner", "#{@shift.users}#{@shift.possible_users}".split(" ").collect {|num| [User.find(num.to_i).first_name]}, {include_blank: true})
  - else
    No Available Doctors to Assign for This Shift
    


  
  %br
  = submit_tag 'Update Shift'
  = link_to 'Back to all shifts', shifts_path
