%nav.navbar.navbar-default
  %div.container-fluid
    %div.navbar-brand
      %a.title{:href => home_path} VA ER Core Staff Scheduler
    %div.navbar-center
      = hidden_field_tag @user = User.find_by_id(session[:user_id])
      %h2.title= "Hello, #{@user.first_name} #{@user.last_name}"
      %p.header-info= "You are logged in as #{@user.usertype} with FTE of #{@user.fte}"
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.button.btn.btn-default.btn-lg.btn-link{title: "Account Settings", type: "button", href: "/settings"}
            %span.glyphicon.glyphicon-cog
        %li
          %a.button.btn.btn-default.btn-lg.btn-link{title: "Log Out", type: "button", href: "/logout"}
            %span.glyphicon.glyphicon-off

:css
  label {
    width: 120px;
  }
    
%div#wrapper
  %div#sidebar-wrapper
    %ul.sidebar-nav
      %li
        %a= link_to 'Home', home_path
      %li
        %a= link_to 'Set Availability', availabilities_path
      - if @user.usertype == 'Administrator'
        %li 
          %a= link_to 'Shift Scheduler', shifts_path
        %li
          %a= link_to 'Set FTE Multiplier', multiply_path

  %div#page-content-wrapper
    %div.container-fluid 
      %h1 Edit Existing Shift

      %h2 Shift Details

      %ul#details
        %li
          %b Shift Start Time: 
          = @shift.shiftstart.strftime("%m/%d/%Y at %H:%M")
          /= "#{@shift.shiftstart.month}/#{@shift.shiftstart.day}/#{@shift.shiftstart.year} at #{@shift.shiftstart.hour}:#{@shift.shiftstart.min}"
        %li
          %b Shift Duration:
          = ((@shift.shiftend - @shift.shiftstart) / 1.hours).round
          :plain
            hour(s)
        %li
          %b Available Doctors:
          - if @shift.users != []
            = @shift.users.where(id: @shift.availabilities.select(:user_id).where(shift_id: @shift.id, availability: 2)).pluck(:last_name)
          - else
            No Available Doctors

        %li
          %b Possibly Available Doctors:
          - if @shift.possible_users != " "
            = @shift.users.where(id: @shift.availabilities.select(:user_id).where(shift_id: @shift.id, availability: 1)).pluck(:last_name)
          - else
            No Possibly Available Doctors

        %li
          %b Shift Assigned To:
          =@shift.owner
      = button_to 'Delete', shift_path(@shift), :method => :delete, :confirm => 'Are you sure?'
      %br

      = form_tag shift_path(@shift), :method => :put do

        = label :shift, :shiftstart, 'Shift Start Date:'
        = date_select :shift, :shiftstart, :start_year => Date.today.year
        %br
        =label :time, :hour, 'Shift Start Time:'
        - hour = @shift.shiftstart.hour.to_i
        - if hour < 10
          - hour = "0#{hour}"
        = select :time, :hour, ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], selected: hour
        :plain
          :
        = select :time, :min, ['00', '15', '30', '45'], selected: @shift.shiftstart.min.to_s
        %br
        = label :shift, :shiftend, 'Duration of Shift:'
        = select :length, :length, [1, 2, 4, 6, 8, 12], selected: ((@shift.shiftend - @shift.shiftstart)/1.hour).round
        %br

        - if @shift.users != [] || @shift.possible_users != " " 
          = label :shift, :owner, 'Assign Doctor:'
          - @temp1 = @shift.users.where(id: @shift.availabilities.select(:user_id).where(shift_id: @shift.id, availability: 2))
          - @temp2 = @shift.users.where(id: @shift.availabilities.select(:user_id).where(shift_id: @shift.id, availability: 1))
          - @temp3 = @temp1 | @temp2
          = select("shift", "owner", @temp3.map  {|num| [User.find_by_id(num).first_name]}, {include_blank: true})
        - else
          %b No Available Doctors to Assign for This Shift
          


        
        %br
        %br
        = submit_tag 'Update Shift'
        %br
        %br
        = link_to 'Back to all shifts', shifts_path
