%h1 ER Shifts

%h2 these are all the shifts currently in the shifts table

%table#shifts
	%thead
		%tr
			%th starttime
			%th endtime
			%th available people
			%th assigned person
			%th open/closed
			%th shift info
		%tbody
			- @shifts.each do |shift|
				%tr
					%td= shift.shiftstart
					%td= shift.shiftend
					%td= shift.users
					%td= shift.owner
					-#%td= shift.open	
					%td= link_to 'edit', edit_shift_path(shift)

= link_to 'Add new shift', new_shift_path
