=render :partial => "shared/navbar", :user => @user

%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li
				%a= link_to 'Home', home_path
			-if @user.usertype != 'Administrative Assistant'
				%li
					%a= link_to 'Set Availability', availabilities_path
			- if @user.usertype == 'Administrator' || @user.usertype == 'Administrative Assistant'
				%li 
					%a= link_to 'Shift Scheduler', shifts_path
				%li
					%a= link_to 'Set FTE Multiplier', multiply_path

	%div#page-content-wrapper
		%div.container-fluid 
			%h1 Add a shift

			= form_tag shifts_path do
				= label :shift, :shiftstart, 'Shift Start Date:'
				= date_select :shift, :shiftstart, :start_year => Time.now.year, :default => -7.hour.from_now
				%br
				=label :time, :time, 'Shift Start Time:'
				- hour = (Time.now.hour - 7.hour).to_i
				- if hour < 10
					- hour = "0#{hour}"
				= select :time, :hour, ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], selected: hour
				:plain
					:
				= select :time, :min, ['00', '15', '30', '45']
				%br
				= label :s, :shiftend, 'Duration of Shift:'
				= select :length, :length, [1, 2, 4, 6, 8, 12]
				:plain
					hour(s)
				%br
				= submit_tag 'Save', :id => "save_submit"

