%nav.navbar.navbar-default
	%div.container-fluid
		%div.navbar-brand
			%a.title{:href => home_path} VA ER Core Staff Scheduler
		%div.navbar-center
			= hidden_field_tag @user = User.find_by_id(session[:user_id])
			%h2.title= "Hello, #{@user.first_name} #{@user.last_name}"
			%p.header-info= "You are logged in as #{@user.usertype} with FTE of #{@user.fte}"
		%div.collapse.navbar-collapse
			%ul.nav.navbar-nav.navbar-right
				%li
					%a.button.btn.btn-default.btn-lg.btn-link{title: "Account Settings", type: "button", href: "/settings"}
						%span.glyphicon.glyphicon-cog
				%li
					%a.button.btn.btn-default.btn-lg.btn-link{title: "Log Out", type: "button", href: "/logout"}
						%span.glyphicon.glyphicon-off


%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li
				%a= link_to 'Home', home_path
			%li
				%a= link_to 'Set Availability', availabilities_path
			- if @user.usertype == 'Administrator'
				%li 
					%a= link_to 'Shift Scheduler', shifts_path
				%li
					%a= link_to 'Set FTE Multiplier', multiply_path

	%div#page-content-wrapper
		%div.container-fluid 
			%h1 Add a shift

			= form_tag shifts_path do
				= label :shift, :date, 'Shift Start Date:'
				= date_select :shift, :date, :start_year => Time.now.year
				%br
				=label :shift, :time, 'Shift Start Time:'
				- hour = Time.now.hour.to_i
				- if hour < 10
					- hour = "0#{hour}"
				= select :shift, :hour, ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'], selected: hour
				:plain
					:
				= select :shift, :min, ['00', '15', '30', '45']
				%br
				= label :shift, :shiftend, 'Duration of Shift:'
				= select :length, :length, [1, 2, 4, 6, 8, 12]
				:plain
					hour(s)
				%br
				= submit_tag 'Save', :id => "save_submit"

