%h2 shift details

%ul#details
	%li
		Start Time: 
		= @shift.shiftstart
	%li
		End Time:
		= @shift.shiftend

	%li
		Available People:
		- if !@shift.users.nil?
			= @shift.users.split(" ").map{|i| User.find(i).first_name}

	%li
		Possible Users:
		- if !@shift.users.nil?
			= @shift.possible_users.split(" ").map{|i| User.find(i).first_name}
	
	%li
		Shift Assigned To:
		- if !@shift.users.nil?
			= @shift.owner
		- else
			***
= link_to 'Edit', edit_shift_path(@shift)
%br
= button_to 'Delete', shift_path(@shift), :method => :delete, :confirm => 'Are you sure?'
%br

= link_to 'Back to all shifts', shifts_path