%nav.navbar.navbar-default
	%div.container-fluid
		%div.navbar-brand
			%h1 VA hospital logo
		%div.navbar-center
			= hidden_field_tag @user = User.find_by_id(session[:user_id])
			%h1= "Hello, #{@user.name}"
			%h3= "You are logged in as #{@user.usertype} with fte of #{@user.fte}"
		%div.collapse.navbar-collapse
			%ul.nav.navbar-nav.navbar-right
				%li
					%button.btn.btn-default.btn-lg.btn-link{title: "Account Settings", type: "button"}
						%span.glyphicon.glyphicon-cog
				%li
					%button.btn.btn-default.btn-lg.btn-link{title: "Log Out", type: "button"}
						%span.glyphicon.glyphicon-off
			
%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li.sidebar-brand
				%a VA ER Scheduler
			%li 
				%a Calendar
			- if @user.usertype == 'Admin'
				%li 
					%a Set Availability

	%div#page-content-wrapper
		%div.container-fluid
			%h1 main