=render :partial => "shared/navbar", :user => @user
			
%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li
				%a= link_to 'Home', home_path
			%li
			-if @user.usertype != 'Administrative Assistant'
				%li
					%a= link_to 'Set Availability', availabilities_path
			- if @user.usertype == 'Administrator' || @user.usertype == 'Administrative Assistant'
				%li 
					%a= link_to 'Shift Scheduler', shifts_path
				%li
					%a= link_to 'Set FTE Multiplier', multiply_path

	%div#page-content-wrapper
		%div.container-fluid
			%h1 Set the FTE multiplier for each doctor

			:css
				tr, th, td {
					vertical-align: top;
					text-align: center;
					padding: 15px;
				}
			= form_tag multiply_path, :method => :get do
				%table#multiplier
					%thead
						%tr
							%th Doctor
							%th Account Type
							%th Current FTE
							%th Current Multiplier
							%th New Multiplier
							%th Required Availability Hours
						%tbody
							-@users.each do |user|
								%tr
									%td= "#{user.last_name}, #{user.first_name}"
									%td= user.usertype
									%td= number_field_tag "#{user.id}_fte", user.fte, step: 0.05, min: 0.1, max: 1.0
									%td= user.fte_multiplier
									%td= number_field_tag "#{user.id}", user.fte_multiplier, step: 0.05
									%td= (user.fte*user.fte_multiplier*80)

				= submit_tag 'Update'