%h1 this is index.html.haml from within availabilities/shifts

%h1 actual prefs form

:css
	tr {
		vertical-align: top;
		text-align: left;
	}

= form_tag availabilities_path, :method => :get do
	= week_calendar number_of_weeks: 2 do |date|
		%table.table
			%thead
				%tr
					%th= "#{date.month}/#{date.day}"
				%tbody
					- @shifts.each do |shift|
						- if shift.shiftstart.to_s[5..6] == date.to_s[5..6] && shift.shiftstart.to_s[8..9] == date.to_s[8..9]
							%tr
								- if shift.shiftend.to_s[8..9].to_s == date.to_s[8..9]
									%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}"
								- else
									%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}+"
								%td= radio_button_tag "#{shift.id}", 'yes', false
								%td= radio_button_tag "#{shift.id}", 'maybe', true
								%td= radio_button_tag "#{shift.id}", 'no', false

		%br
	= submit_tag 'Update'

%h2 Your Availabilities

= week_calendar number_of_weeks: 2 do |date|
	%table.table
		%thead
			%tr
				%th= "#{date.month}/#{date.day}"
			%tbody
				- @shifts.each do |shift|
					- if shift.shiftstart.to_s[5..6] == date.to_s[5..6] && shift.shiftstart.to_s[8..9] == date.to_s[8..9]
						- if shift.users || shift.possible_users
							%tr
								- if shift.shiftend.to_s[8..9].to_s == date.to_s[8..9]
									%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}"
								- else
									%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}+"


/= form_tag availabilities_path, :method => :get do
/	- @shifts.each do |shift|
/		= shift.shiftstart
/		= shift.shiftend
/		= radio_button_tag "#{shift.id}", 'yes', false
/		= radio_button_tag "#{shift.id}", 'maybe', true
/		= radio_button_tag "#{shift.id}", 'no', false
/		%br
/	= submit_tag 'Update'

%h2 these are all the shifts currently in the shifts table

%table#shifts
	%thead
		%tr
			%th starttime
			%th endtime
			%th available people
			%th possibly available
			%th assigned person
			%th shift info
		%tbody
			- @shifts.each do |shift|
				%tr
					%td.shiftstart= shift.shiftstart
					%td.shiftend= shift.shiftend
					%td.shiftuser= shift.users
					%td.possibleusers= shift.possible_users
					%td.owner= shift.owner
					%td.details= link_to 'details', shift
