=render :partial => "shared/navbar", :user => @user
			
%div#wrapper
	%div#sidebar-wrapper
		%ul.sidebar-nav
			%li
				%a= link_to 'Home', home_path
			%li
				%a= link_to 'Set Availability', availabilities_path
			- if @user.usertype == 'Administrator'
				%li 
					%a= link_to 'Shift Scheduler', shifts_path
				%li
					%a= link_to 'Set FTE Multiplier', multiply_path

	%div#page-content-wrapper
		%div.container-fluid 
			%h2 Set Your Preference
			:plain
				Pay Period
			= (@date_start.strftime("%U")).to_i/2
			%br
			= link_to '<<', availabilities_path(:newstart => @date_start - 14.to_f)
			= "#{@date_start.strftime("%B")} #{@date_start.day} to #{(@date_start + 13.to_f).strftime("%B")} #{(@date_start + 13.to_f).day}"
			= link_to '>>', availabilities_path(:newstart => @date_start + 14.to_f)

			= form_tag 'update_availabilities', :method => :get do
				%table.table
					%thead
						- @next_seven.each do |day|
							%th= "#{day.to_time.strftime("%A")} #{day.month}/#{day.day}"
					%tbody
						%tr
							- @next_seven.each do |day|
								%td
									%table
										- @shifts.each do |shift|
											- if shift.shiftstart.to_s[5..6] == day.to_s[5..6] && shift.shiftstart.to_s[8..9] == day.to_s[8..9]
												%tr.shift
													- if shift.shiftend.to_s[8..9].to_s == day.to_s[8..9]
														%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}"
													- else
														%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}+"
													- availability = Availability.where(user_id: session[:user_id], shift_id: shift.id).first
													- if availability.availability == 2
														%td
															%div#green= radio_button_tag "#{shift.id}", 'yes', true
														%td
															%div#yellow= radio_button_tag "#{shift.id}", 'maybe', false
														%td
															%div#red= radio_button_tag "#{shift.id}", 'no', false
														%td.details= link_to 'details', shift
													- elsif availability.availability == 1
														%td
															%div#green= radio_button_tag "#{shift.id}", 'yes', false
														%td
															%div#yellow= radio_button_tag "#{shift.id}", 'maybe', true
														%td
															%div#red= radio_button_tag "#{shift.id}", 'no', false
														%td.details= link_to 'details', shift
													- elsif availability.nil? || availability.availability == 0
														%td
															%div#green= radio_button_tag "#{shift.id}", 'yes', false
														%td
															%div#yellow= radio_button_tag "#{shift.id}", 'maybe', false
														%td
															%div#red= radio_button_tag "#{shift.id}", 'no', true
														%td.details= link_to 'details', shift

				%table.table
					%thead
						- @second_seven.each do |day|
							%th= "#{day.to_time.strftime("%A")} #{day.month}/#{day.day}"
					%tbody
						%tr
							- @second_seven.each do |day|
								%td
									%table
										- @shifts.each do |shift|
											- if shift.shiftstart.to_s[5..6] == day.to_s[5..6] && shift.shiftstart.to_s[8..9] == day.to_s[8..9]
												%tr.shift
													- if shift.shiftend.to_s[8..9].to_s == day.to_s[8..9]
														%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}"
													- else
														%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}+"
													- availability = Availability.where(user_id: session[:user_id], shift_id: shift.id).first
													- if availability.availability == 2
														%td
															%div#green= radio_button_tag "#{shift.id}", 'yes', true
														%td
															%div#yellow= radio_button_tag "#{shift.id}", 'maybe', false
														%td
															%div#red= radio_button_tag "#{shift.id}", 'no', false
														%td.details= link_to 'details', shift
													- elsif availability.availability == 1
														%td
															%div#green= radio_button_tag "#{shift.id}", 'yes', false
														%td
															%div#yellow= radio_button_tag "#{shift.id}", 'maybe', true
														%td
															%div#red= radio_button_tag "#{shift.id}", 'no', false
														%td.details= link_to 'details', shift
													- elsif availability.nil? || availability.availability == 0
														%td
															%div#green= radio_button_tag "#{shift.id}", 'yes', false
														%td
															%div#yellow= radio_button_tag "#{shift.id}", 'maybe', false
														%td
															%div#red= radio_button_tag "#{shift.id}", 'no', true
														%td.details= link_to 'details', shift

				= submit_tag 'Update'

			%div.content-separator
			%h2 Your Availabilities

			%table.table
				%thead
					- @next_seven.each do |day|
						%th= "#{day.to_time.strftime("%A")} #{day.month}/#{day.day}"
				%tbody
					%tr
						- @next_seven.each do |day|
							%td
								%table
									- @shifts.each do |shift|
										- if shift.shiftstart.to_s[5..6] == day.to_s[5..6] && shift.shiftstart.to_s[8..9] == day.to_s[8..9]
											- if shift.users || shift.possible_users
												%tr.avail
													-availability = Availability.where(user_id: session[:user_id], shift_id: shift.id).first
													- if !availability.nil? && availability.availability != 0
														- if shift.shiftend.to_s[8..9].to_s == day.to_s[8..9]
															%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}"
														- else
															%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}+"

			%table.table
				%thead
					- @second_seven.each do |day|
						%th= "#{day.to_time.strftime("%A")} #{day.month}/#{day.day}"
				%tbody
					%tr
						- @second_seven.each do |day|
							%td
								%table
									- @shifts.each do |shift|
										- if shift.shiftstart.to_s[5..6] == day.to_s[5..6] && shift.shiftstart.to_s[8..9] == day.to_s[8..9]
											- if shift.users || shift.possible_users
												%tr.avail
													-availability = Availability.where(user_id: session[:user_id], shift_id: shift.id).first
													- if !availability.nil? && availability.availability != 0
														- if shift.shiftend.to_s[8..9].to_s == day.to_s[8..9]
															%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}"
														- else
															%td= "#{shift.shiftstart.to_s[11..15]} to #{shift.shiftend.to_s[11..15]}+"

			= link_to 'Set Availabilities to Previous Pay Period', new_availability_path